<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Groups</title>
    <link rel="stylesheet" type="text/css" href="groups_style.css">
    <script src="groups_script.js"></script>
</head>
<body>
    <div class="page_container">
        <section class="header"></section>
        <section class="groups">
            <div class="groups_list" id="groups_list">
                <script>addGroupsToList()</script>
            </div>
            <div class="group_page" id="group_page">
                <h2 id="group_name"></h2>
                <img id="group_image">
                <list id="group_members"></list>
            </div>
        </section>
        <section class="footer"></section>
    </div>
</body>
</html>