
/* global styling, this can be put into global css file: */

* {
    margin: 0;
    padding: 0;
}

.page_container {
    position: relative;
    min-height: 100vh;
}

header {
    padding: 5vh 0;
    width: 100%;
    background: deepskyblue;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

footer {
    padding: 5vh 0;
    width: 100%;
    background: lightgray;
}

h4 {
    margin: 20px 0px 10px 0px;
}

/* displays list of groups and group's page side by side */
.groups {
    display: flex;
    flex-direction: row;
}

/* Styling for group list */
.groups_list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    position: relative;
    width: 30%;
    height: 80vh;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background: ghostwhite;
    padding: 0 2px;
    border-right: lightgray;
    border-width: 1px;
    border-right-style: solid;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    clip-path: inset(0px -15px 0px 0px);
}

.groups_list::-webkit-scrollbar {
  display: none;
}

.group_list_element {
    position: relative;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group_list_element.active {
    background-color: deepskyblue;
}

.group_list_image {
    width: 50px;
    height: 50px;
    margin: 5px;
    object-fit:cover;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius:50%;
}

.group_list_title {
    margin-left: 15px;
    font-size: 20px;
    font-weight: lighter;
}

/* styling for group's page */
.group_page {
    position: relative;
    width: 70%;
    height: 80vh;
    padding: 25px;
    box-sizing: border-box;
}

/* styling for group's page top part */

.group_info {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.group_info_left {
    width: 33.3%;
    height: 100%;
    border: none gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    box-sizing: border-box;
}

.group_info_middle {
    width: 33.3%;
    height: 100%;
    border: none gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.group_info_right {
    width: 33.3%;
    height: 100%;
    border: none gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#group_name {
    height: 10%;
    width: 100%;
    font-size: xxx-large;
    text-align: center;
    margin: 0px 0px 20px 0px;
    border-bottom-style: solid;
    border-width: thin;
}

#group_image {
    width: 200px;
    height: 200px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#catchphrase {
    margin-top: 20px;
    font-size: 20px;
}

/* styling group's page lower part */

.group_matches {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    height: 30%;
    border-style: solid;
    border-color: dimgray;
    border-radius: 5px;
    overflow: scroll;
}

.group_matches::-webkit-scrollbar {
  display: none;
}

.match_element {
    height: 25px;
    width: 100%;
    background: lightgray;
    display: flex;
    flex-direction: row;
}
.match_box {
    width: 33.3%;
    padding-left: 5%;
    border-right-style: solid;
    border-width: thin;
}

.match_box:last-child {
    border-right-style: none;
    border-right-width: thin;
}

.match_text {
    font-size: 20px;
    font-weight: lighter;
}

.match_element:nth-child(even) {
    background: whitesmoke;
}

