* {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.page{
    background: #cae7df;
}

h2{
   text-align: center;
}

nav {
    height: 75px;
}

.form_group{
    position:center;
    background-color: white;
    border-radius: 15px;
    border-color: lightgray;
    border-width: thin;
    border-style: none;
    padding: 25px;
    width: 50%;
    height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    box-sizing: border-box;
    margin: auto;
}
.user {
    position:absolute;
    top:0;
    right:0;
    overflow: hidden;
}


button {
    padding: 10px;
    background: #04AA6D;
    border-radius: 10px;
    border-style: solid;
    border-color: dimgray;
    margin: 10px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    font-family: system-ui !important;
    font-variant-caps: normal !important;
}
