<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GroupUp/match_page/match_page_style.css' %}">
    <script src="{% static 'GroupUp/match_page/match_page_script.js' %}"></script>
    <title>Find Match</title>
</head>
<body>

<div class="page">
    <nav>
        <button onclick="location.href='http://127.0.0.1:8000/GroupUp/front_page/'" type="button">
            &#8592; Back to frontpage</button>
    </nav>
    <h1>Find Other Groups</h1>
    <div id="options">
        <div style="display: none">
            <label for="groups">Select group to match for:</label>
            <select name="group" id="groups">
                <option value="value1">group1</option>
                <option value="value2">group2</option>
                <option value="value3">group3</option>
                <option value="value4">group4</option>
            </select>
        </div>
        <div style="display: none">
            <label for="interests">Sort interest after:</label>
                <select name="interest" id="interests">
                <option value="value1">interest1</option>
                <option value="value2">interest2</option>
                <option value="value3">interest3</option>
                <option value="value4">interest4</option>
            </select>
        </div>
    </div>
    <div id="group_card_container">
        {% for group in groups %}
            <a href="{% url 'group_page' pk=group.id %}">
                <div class="group_card">
                    <div class="match_card_title">
                        <h2>{{ group.name }}</h2>
                    </div>
                    <div class="match_card_image">
                        <img class="card_image" src="{% static 'GroupUp/my_groups/images/user_icon_007.jpg' %}">
                    </div>
                    <div class="match_card_info">
                        <label>Description:</label>
                        <p>{{ group.description}}</p>
                        <!-- <label>Interest:</label>
                        <p>interest variable</p>
                        <label>Number of Members:</label>
                        <p>member count variable</p>
                        <label>Age Range:</label>
                        <p>Age range variable</p>
                        <label>Location:</label>
                        <p>Location variable</p> -->
                    <div class="match_card_button">
                        <button style="display: none" onclick="removeMatchCard(this)">GroupUp!</button>
                    </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</body>
</html>
