<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Groups</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GroupUp/my_groups/group_style.css' %}">
    <script src="{% static 'GroupUp/my_groups/groups_script.js' %}"></script>
</head>
<body>

    <div class="page">
        <nav>
            <button onclick="location.href='http://127.0.0.1:8000/GroupUp/front_page/'" type="button">
                &#8592; Back to frontpage</button>
            {% if user == group.group_leader%}
            <a href="{% url 'update_group' pk=group.id %}">
            <button id="edit_button" type="button">
                Edit Group Page</button>
            </a>
            {% endif%}
        </nav>
        <div class="page_container">
            <div id="group_top">
                <div class="content_container">
                    <h2> {{ group.name }} </h2>
                    <div class="group_info">
                        <!--- plain info display on group's page, left, middle and right part --->
                        <div class="group_info_left">
                            <h4>Group Leader</h4>
                            <p>{{ group.get_group_leader }}</p>
                            <h4>Common-interest:</h4>
                            <p>{{ group.interest }}</p>
                            <h4>Members age range:</h4>
                            <p>{{ group.get_age_range.min_age}} - {{ group.get_age_range.max_age}}</p>
                            <h4>Contact information:</h4>
                            <p>{{ group.get_group_leader.email }}</p>
                        </div>
                        <div class="group_info_middle">
                            <img id="group_image" src="{% static 'GroupUp/my_groups/images/user_icon_007.jpg' %}">
                            <h4>{{ group.description }}</h4>
                        </div>
                        <div class="group_info_right">
                            <!-- <h4>Members({{ member_count }}):</h4> -->
                            <div id="group_members">
                                <ul class="list_style">
                                    {% for member in group.members.all %}
                                        <li class="list_element">{{member}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--- groups matches section --->
            <div id="group_match">
                <div class="content_container">
                    <h4>Group Matches:</h4>
                    <div id="match_list">
                        <ul class="list_style">
                            
                            <!-- {% for match in group.matches %}
                                <li class="list_element match_list">
                                    <div class="match_list_element">{{ match.title }}</div>
                                    <div class="match_list_element">{{ match.interest }}</div>
                                    <div Class="match_list_element">{{ match.contact }}</div>
                                </li>
                            {% endfor %} -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
