<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Groups</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GroupUp/my_groups/group_matches_style.css' %}">
</head>
<body>
    <div class="page">
        <nav>
            <button onclick="location.href='http://127.0.0.1:8000/GroupUp/groups_page'" type="button">
                &#8592; Back</button>
        </nav>
        <h1>Group's Matches</h1>
        <h2>{{ myGroup.name }}</h2>
        <div class="page_container">
            {% for group in groups %}
                <div class="group_top">
                    <a class="group_link" href="{% url 'group_page' pk=group.id %}">
                        <div class="content_container">
                            <div class="group_info">
                                <!--- plain info display on group's page, left, middle and right part --->
                                <div class="group_info_left">
                                    <img class="group_image" src="{% static 'GroupUp/my_groups/images/user_icon_007.jpg' %}">
                                </div>
                                <div class="group_info_middle">
                                    <h2> {{ group.name }} </h2>
                                </div>
                                <div class="group_info_right">
                                    <h4>Description:</h4>
                                    <p>{{ group.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>