<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My groups</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GroupUp/my_groups/groups_style.css' %}">
    <script src="{% static 'GroupUp/my_groups/groups_script.js' %}"></script>
</head>
<body>
    <div class="page">
        <nav>
            <button onclick="location.href='http://127.0.0.1:8000/GroupUp/front_page/'" type="button">
                &#8592; Back</button>
        </nav>
        <div class="page_container">
            <div id="groups">
                <div class="content_container">
                    {% for group in groups %}
                    <a href="{% url ''}">
                        <div class="group_card">
                            <h4>{{ group.name }}</h4>
                            <img class="card_image" src="{% static 'GroupUp/my_groups/images/user_icon_007.jpg' %}">
                        </div> 
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>