<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GroupUp/my_groups/update_group.css' %}">
    <title>editGroup</title>
    </head>

<body>
<nav>
  <button onclick="location.href='http://127.0.0.1:8000/GroupUp/front_page/'" type="button">
    &#8592; Back to frontpage</button>
</nav>
<div class="formclass">
    <h2>Update Group</h2>
<form method="post">
    {% csrf_token %} 
    {{ form.as_p }} 
    <input type="submit" value="Save"> 
</form>
    </div>
<div class="user"
        {% if user.is_authenticated %}
				<h4 class="user-name"> Logged in as {{user.username}}</h4>
        {% endif %}
    </div>
</body>
</html>