
/* global styling, this can be put into global css file: */

* {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.page {
    background: #cae7df;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.page_container {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

h4 {
    margin: 20px 0px 10px 0px;
}

h1 {
    text-align: center;
    font-size: 40px;
    
    color: black;
}

nav {
    height: 75px;
}

button {
    padding: 10px;
    background: #04AA6D;
    border-radius: 10px;
    border-style: solid;
    border-color: dimgray;
    margin: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.user {
    position:absolute;
    top:0;
    right:0;
    overflow: hidden;
}

.group_button {
    float: right;
}

.content_container {
    background-color: white;
    border-radius: 15px;
    border-color: lightgray;
    border-width: thin;
    border-style: none;
    padding: 25px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    box-sizing: border-box;
}

.list_style {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: dimgray;
    border-radius: 5px;
    overflow: scroll;
    text-align: center;
    background: lightgray;
    box-sizing: border-box;
}

.list_element:nth-child(even) {
    background: gray;
}

.list_element:nth-child(odd) {
    background: darkgray;
}

#group_top {
    width: 80%;
    height: 70vh;
    position: relative;
}

.group_info {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.group_info_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.group_info_right {
    width: 50%;
    min-height: 100%;
    border: none gray;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10%;
}

.menu_button {
    float: right;
}

#group_image {
    width: 200px;
    height: 200px;
    border: solid #04AA6D;
    margin-bottom: 20%;
}

#group_members {
    width: 60%;
    height: 100px;
}