
* {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-bottom: 30px;
}

.page_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-color: whitesmoke;
}

.page_item_container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border-color: lightgray;
    border-width: thin;
    border-style: none;
    padding: 50px;
    width: 50%;
    min-height: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.text_box {
    padding: 14px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px 0px;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;
}

#group_info_form_container.active {
    display: none;
}

#group_member_form_container.active {
    display: none;
}

#group_info_form {
    width: 70%;
}

.back_button {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.next_button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}